@import "styles/variables.module.scss";

.flex {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    display: block;
  }
}

.column {
  flex: 0 0 50%;

  &.hidden {
    display: block;

    @include mobile {
      display: none;
    }
  }

  &.fill {
    height: calc(100vh - $header-height);
    overflow: scroll;

    @include mobile {
      height: calc(100vh - $header-height-mobile);
    }
  }
}
